* {
  box-sizing: border-box;
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 33vh;
  height: 33vh;
  width: 100vw;
}

.bar {
  height: 100%;
  width: 2.5%;
  border: 1px solid black;
}

.low {
  background-color: green;
}

.medium {
  background-color: yellow;
}

.high {
  background-color: red;
}

.bar:hover + .hide {
  font-size: x-large;
}

.hide {
  font-size: 0;
}
